{%extends 'main/base.html'%}

{%block main%}
<section class="container text-uppercase">
    <div class="row">
        <div class="col">
            <h2>{{form_title}}</h2>
            <hr>
            <form action="" method="POST">
                <div class="form-group">
                    {{form.hidden_tag()}}
                    {{form.title.label(class='form-label')}}    
                    {{form.title(class='form-control')}}
                </div>
                <div class="form-group">
                    {{form.content.label(class='form-label')}}
                    {{form.content(class='form-control')}}
                </div>
                <div class="form-group">
                    {{form.submit(class='btn btn-primary btn-block text-uppercase')}}
                </div>
            </form>
        </div>
    </div>
</section>
{%endblock%}