{%extends 'main/base.html'%}

{%block main%}
{%include 'main/flash_messages.html'%}
<section class="container mt-5">
    <h2 class="jumbotron bg-info text-light display-4 text-uppercase">Welcome {{current_user.username}} &#128512;</h2>
</section>
<section class="container text-center text-uppercase">
    <div class="row">
        <!-- USER'S BLOGS -->
        <div class="col-md-8 float-left">
            <section>
                <h3 class="text-uppercase">your blogs</h3>
                <hr>
                {%if current_user.blogs%}
                    <ul class="list-group">
                        {%for blog in current_user.blogs%}
                            <li class="list-group-item "><a href="{{url_for('blog.view_blog',id=blog.id)}}">{{blog.name}}</a></li>
                        {%endfor%}
                    </ul>
                {%else%}
                    <p>no blog created by you</p>
                {%endif%}
                <hr>
                <a class="btn btn-primary" href="{{url_for('blog.create_blog')}}">create new blog &raquo;</a>
            </section>
        </div>
        <!-- USER INFORMATION -->
        <div class="col-md-4">
            <section class="container">
                <h2 class="text-center">user information</h2>
                <hr>
                <img class="img-thumbnail rounded" src="{{url_for('static',filename='images/profile_pics/'+current_user.profile_pic)}}" alt="Profile Picture" height="200" width="200"></li>
                <hr>
            </section>
            <section>
                <ul class="list-group text-uppercase">
                    <li class="list-group-item">{{current_user.username}}</li>
                    <li class="list-group-item text-lowercase">{{current_user.email}}</li>
                    <li class="list-group-item">{{current_user.first_name}} {{current_user.last_name}}</li>
                    <li class="list-group-item">{{current_user.dob.strftime('%d-%m-%Y')}}</li>
                    <li class="list-group-item">{{current_user.mobile_no}}</li>
                    <li class="list-group-item">{{current_user.gender}}</li>
                    <li class="list-group-item"><a class="btn btn-primary" href="{{url_for('user.update_profile',id=current_user.id)}}">Edit Profile &raquo;</a></li>
                </ul>
            </section>
        </div>
    </div>
    
    
</section>
<section>
    
</section>
{%endblock%}